In [1]:
import pandas as pd

In [4]:
diagnosis = pd.read_csv("diagnosis")
events = pd.read_csv("events")

In [5]:
events

,EventID,PatientID,NHSClinicalCode1,NHSClinicalCode2,Postcode,EventDateTime,RegistrationDate,Name
0,223f3ffa-15e4-4b29-a328-488369b8c127,27ea2373-c482-4608-8a92-49605862961f,XX,XX,NW2,02/02/1999,01/01/1900,NaN
1,3f56f414-5005-41ad-812c-5afa8107305a,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,xx,YY,BT5,02/03/1999,01/01/1900,NaN
2,f557b132-6e09-4b8f-9762-e4724c00d007,27be53f8-b1a6-46b6-bb1f-8c0fbca50ac8,1,012,EN3,02/04/1999,01/01/1900,NaN
3,NaN,68037ca2-506b-4eaa-9295-5752808e5738,02,012,EN3H2J,02/05/1999,01/01/1999,NaN
4,2971b0ea-df0d-4765-ab3c-956a40e1d969,df104bd6-52bd-4414-927a-77ea832e6872,66,444,NW2,02/06/1999,01/01/1900,NaN
5,d46d4595-b417-462b-aa7f-f02ffbf0b798,27ea2373-c482-4608-8a92-49605862961f,6,784,NW2,02/07/1999,01/01/1900,NaN
6,223f3ffa-15e4-4b29-a328-488369b8c127,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,2,332,NW2,02/08/1999,01/01/1900,Jack Rowntree

In [6]:
diagnosis

                                 EventID Diagnosis DiagnosisDateTime
0   223f3ffa-15e4-4b29-a328-488369b8c127         A  13:00 02/01/2020
1   3f56f414-5005-41ad-812c-5afa8107305a         B  11:00 02/01/2020
2   f557b132-6e09-4b8f-9762-e4724c00d007       NaN  13:00 02/01/2020
3   223f3ffa-15e4-4b29-a328-488369b8c127         A  13:00 02/01/2020
4   3f56f414-5005-41ad-812c-5afa8107305a         B  18:00 02/01/2020
5   f557b132-6e09-4b8f-9762-e4724c00d007         C  15:00 02/01/2020
6   ed7f9b79-e1e1-432e-a4f8-5282286dacac         A  13:00 02/05/2020
7   223f3ffa-15e4-4b29-a328-488369b8c127         B  13:00 02/02/2020
8   3f56f414-5005-41ad-812c-5afa8107305a         D  13:00 03/01/2020
9   f557b132-6e09-4b8f-9762-e4724c00d007         C  13:00 14/01/2020
10  3f56f414-5005-41ad-812c-5afa8107305a         B  11:00 02/01/1998

In [7]:
pd.merge(events, diagnosis, how="left", left_on="EventID", right_on="EventID")

,EventID,PatientID,NHSClinicalCode1,NHSClinicalCode2,Postcode,EventDateTime,RegistrationDate,Name,Diagnosis,DiagnosisDateTime
0,223f3ffa-15e4-4b29-a328-488369b8c127,27ea2373-c482-4608-8a92-49605862961f,XX,XX,NW2,02/02/1999,01/01/1900,NaN,A,13:00 02/01/2020
1,223f3ffa-15e4-4b29-a328-488369b8c127,27ea2373-c482-4608-8a92-49605862961f,XX,XX,NW2,02/02/1999,01/01/1900,NaN,A,13:00 02/01/2020
2,223f3ffa-15e4-4b29-a328-488369b8c127,27ea2373-c482-4608-8a92-49605862961f,XX,XX,NW2,02/02/1999,01/01/1900,NaN,B,13:00 02/02/2020
3,3f56f414-5005-41ad-812c-5afa8107305a,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,xx,YY,BT5,02/03/1999,01/01/1900,NaN,B,11:00 02/01/2020
4,3f56f414-5005-41ad-812c-5afa8107305a,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,xx,YY,BT5,02/03/1999,01/01/1900,NaN,B,18:00 02/01/2020
5,3f56f414-5005-41ad-812c-5afa8107305a,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,xx,YY,BT5,02/03/1999,01/01/1900,NaN,D,13:00 03/01/2020
6,3f56f414-5005-41ad-812c-5afa8107305a,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,xx,YY,BT5,02/03/1999,01/01/1900,NaN,B,11:00 02/01/1998
7,f557b132-6e09-4b8f-9762-e4724c00d007,27be53f8-b1a6-46b6-bb1f-8c0fbca50ac8,1,012,EN3,02/04/1999,01/01/1900,NaN,NaN,13:00 02/01/2020
8,f557b132-6e09-4b8f-9762-e4724c00d007,27be53f8-b1a6-46b6-bb1f-8c0fbca50ac8,1,012,EN3,02/04/1999,01/01/1900,NaN,C,15:00 02/01/2020
9,f557b132-6e09-4b8f-9762-e4724c00d007,27be53f8-b1a6-46b6-bb1f-8c0fbca50ac8,1,012,EN3,02/04/1999,01/01/1900,NaN,C,13:00 14/01/2020
10,NaN,68037ca2-506b-4eaa-9295-5752808e5738,02,012,EN3H2J,02/05/1999,01/01/1999,NaN,NaN,NaN
11,2971b0ea-df0d-4765-ab3c-956a40e1d969,df104bd6-52bd-4414-927a-77ea832e6872,66,444,NW2,02/06/1999,01/01/1900,NaN,NaN,NaN
12,d46d4595-b417-462b-aa7f-f02ffbf0b798,27ea2373-c482-4608-8a92-49605862961f,6,784,NW2,02/07/1999,01/01/1900,NaN,NaN,NaN
13,223f3ffa-15e4-4b29-a328-488369b8c127,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,2,332,NW2,02/08/1999,01/01/1900,Jack Rowntree,A,13:00 02/01/2020
14,223f3ffa-15e4-4b29-a328-488369b8c127,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,2,332,NW2,02/08/1999,01/01/1900,Jack Rowntree,A,13:00 02/01/2020
15,223f3ffa-15e4-4b29-a328-488369b8c127,cdc323c9-06e9-44a6-8fca-ba64be6d1d00,2,332,NW2,02/08/1999,01/01/1900,Jack Rowntree,B,13:00 02/02/2020